<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Article Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@500&display=swap" rel="stylesheet"/>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="index.css"/>
    <link rel="icon" href="/assets/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Article Description"/>
    <meta name="keywords" content="piman, keyword"/>
  </head>
  <body>
    
  </body>
</html>