.loading-box {
  --anim-bar-loc: 0%;
  background-image: linear-gradient(
    90deg,
    var(--color-layer1) 0%,
    var(--color-layer3) 10%,
    var(--color-layer1) 20%
  );
  background-size: 1000px 100px;
  animation: loading-idle 2s infinite ease;
}

@media (prefers-reduced-motion: reduce) {
  .loading-box {
    animation: none;
  }
}

@keyframes loading-idle {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
