.control-btn,
.control-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  box-sizing: border-box;

  span {
    flex: 1 0 0;
    color: var(--color-light, #d9dcd6);
    text-align: center;
    font-size: 14px;
    user-select: none;
  }
}

.control-btn.reg,
.control-btn:active.imp {
  border: 1px solid var(--color-light, #d9dcd6);
  background: var(--color-layer3, rgba(255, 255, 255, 0.15));
}

.control-btn.imp,
.control-btn:active.reg {
  background: var(--color-back, #59729b);
  border: none;
}

.control-number {
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--color-light, #d9dcd6);
  background: var(--color-layer3, rgba(255, 255, 255, 0.15));
  color: var(--color-light, #d9dcd6);
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
}

.control-checkbox {
  position: relative;
  box-sizing: border-box;

  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 20px;
    margin: 0px;
    z-index: 1;
  }

  .checkbox-cover {
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    z-index: -1;
    box-sizing: border-box;

    span {
      position: absolute;
      width: 100%;
      height: 20px;
      color: var(--color-light, #d9dcd6);
      text-align: center;
      font-size: 14px;
      user-select: none;
    }
  }

  input[type="checkbox"] ~ .checkbox-cover {
    background: var(--color-layer3, rgba(255, 255, 255, 0.15));
    border: 1px solid var(--color-light, #d9dcd6);

    .enabled {
      visibility: hidden;
    }

    .disabled {
      visibility: visible;
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-cover {
    background: var(--color-back, #59729b);
    border: none;

    .enabled {
      visibility: visible;
    }

    .disabled {
      visibility: hidden;
    }
  }
}
